# Python related
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyd
*.pyc

# VSCode specific
.vscode/
*.code-workspace

# Environment/Package Management
.env
.venv/
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
*.lock

# Jupyter Notebooks
.ipynb_checkpoints

# Virtualenv
.virtualenv/
.Python
pyvenv.cfg

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Pyre type checker
.pyre/

# Pyright static type checker
.pyright/

# mypy type checker
.mypy_cache/

# Mac specific
.DS_Store

# Windows specific
Thumbs.db

# Wandb files and artifacts
wandb/
*.wandb

# TensorBoard logs
logs/

# Models and datasets (if applicable)
models/
*.h5
*.ckpt
*.pth
*.onnx

# Dataset files (common datasets in ML)
data/
*.csv
*.tsv
*.json
*.zip
*.tar.gz

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo

# Backup files
*.bak
*.orig

# Other Python specific
*.pyo
*.pyd
*.pdb
*.dll
*.prof
*.profraw

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# PyCharm specific
.idea/
environment.yml
AnnealSchedules/__pycache__/__init__.cpython-310.pyc
AnnealSchedules/__pycache__/BaseSchedule.cpython-310.pyc
AnnealSchedules/__pycache__/LinearSchedule.cpython-310.pyc
EnergyFunctions/__pycache__/__init__.cpython-310.pyc
EnergyFunctions/__pycache__/BaseEnergy.cpython-310.pyc
EnergyFunctions/__pycache__/GaussianMixture.cpython-310.pyc
EnergyFunctions/__pycache__/MexicanHat.cpython-310.pyc
Networks/__pycache__/__init__.cpython-310.pyc
Networks/__pycache__/FeedForward.cpython-310.pyc
SDE_Losses/__pycache__/__init__.cpython-310.pyc
SDE_Losses/__pycache__/Base_SDE_Loss.cpython-310.pyc
SDE_Losses/__pycache__/LogVariance_Loss.cpython-310.pyc
SDE_Losses/__pycache__/Reverse_KL_Loss.cpython-310.pyc
SDE_Losses/SDE_Types/__pycache__/__init__.cpython-310.pyc
SDE_Losses/SDE_Types/__pycache__/Base_SDE.cpython-310.pyc
SDE_Losses/SDE_Types/__pycache__/VP_SDE.cpython-310.pyc
Trainer/__pycache__/train.cpython-310.pyc
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
